include norskfaktura/schema.sql
recursive-include norskfaktura/fonts/clear_sans *.ttf
recursive-include norskfaktura/fonts/courier_prime *.ttf
include README.*
include LICENSE
include CHANGELOG.md
include CONTRIBUTORS.md
include norskfaktura/assets/norskfaktura.svg
include norskfaktura/assets/norskfaktura.desktop
recursive-include norskfaktura/assets *.png
